*.class
*.log

*.ctxt
api/gen/
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*
replay_pid*

.idea/
*.iml
*.iws
*.ipr
*.vscode/
*.DS_Store
*.idea
*vscode
.vscode
*.vscode
target/
.classpath
*.venv/

.gradle/
build/

.DS_Store
Thumbs.db
ehthumbs.db
*.iml
*.ipr
*.iws
.idea/
tmp

*.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.*
*.tfplan
*.tfplan.*
*.tfstate.backup
*.tfstate.backup.*
*.tfstate.lock.*
*.terraform.lock.*