apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "{{ pg_chart_name }}"
  namespace: {{ argocd_namespace }}
spec:
  project: default
  destination:
    namespace: "{{ pg_chart_name }}"
    server: "https://kubernetes.default.svc"

  sources:
    - repoURL: "{{ repo_url }}"
      targetRevision: main
      ref: gitlab_repo

    - repoURL: bitnami/postgresql
      chart: "postgresql"
      targetRevision: "{{ pg_chart_version }}"
      helm:
        releaseName: "{{ pg_release_name }}"
        valueFiles:
          - "$gitlab_repo/{{ pg_values_file }}"

  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      selfHeal: true
      prune: true
