apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: argocd-application-set
  namespace: {{ argocd_namespace }}
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
    - list:
        elements:
{% for chart in charts %}
          - cluster: {{ chart.name }}
            namespace: {{ chart.name }}
            environment: {{ chart.name }}
            chart_version: "latest"
            release_name: "{{ chart.name }}"
            path: {{ chart.path }}
            repo: {{ repo_url }}
            revision: main
            values_file: "values.yaml"
{% endfor %}
  template:
{% raw %}
    metadata:
      name: '{{ .cluster }}'
    spec:

      project: default
      destination:
        namespace: "{{ .namespace }}"
        server: "https://kubernetes.default.svc"

      sources:
        - repoURL: "{{ .repo }}"
          targetRevision: "{{ .revision }}"
          ref: "{{ .revision }}"

        - repoURL: "{{ .repo }}"
          targetRevision: "{{ .revision }}"
          path: "{{ .path }}"
          helm:
            releaseName: "{{ .release_name }}"
            valueFiles:
              - "{{ .values_file }}"

      syncPolicy:
        syncOptions:
          - CreateNamespace=true
        automated:
          selfHeal: true
          prune: true
{% endraw %}
